@model IEnumerable<Asignatura>
@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";
}

<h1>ID: @ViewData["Title"]</h1>


<strong> Desde la vista layout</strong>


    <partial name="ListaObjetosEscuela"/>



<p>
    <i>@ViewBag.CosaDinamica</i>
    <i>@ViewBag.Fecha</i>
</p>